ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 218, 218);
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
}

ul li a:hover {
  background-color: #c0c0c0;
}
body.scrolled-down header {
  top: -100px; /* Or header height */
}