ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 218, 218);
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
}

ul li a:hover {
  background-color: #c0c0c0;
}
body.scrolled-down header {
  top: -100px;
}
.page-card{
  display: inline-block;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  background-color: pink;
  border-radius: 250px;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.page-desc{
  display: inline-block;
  height: auto;
  width: auto;
  background-color: orange;
  border-radius: 20px;
  padding: 20px;
}

.card{
  display: inline-block;
  height: auto;
  width: auto;
  background-color: blanchedalmond;
  border-radius: 0px;
}

.page-title{
  display: inline-block;
  height: auto;
  width: auto;
  background: linear-gradient(10deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  border-radius: 20px;
  padding: 20px;
  font-size: 5rem;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
   align-items: center;
  margin: auto;
  justify-content: center;
}
