body{
    background-color: blue;
}
@media(prefers-color-scheme: dark){ 
    body{
    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: fit-content;
    padding: 2em;
    filter: drop-shadow(1em, rgb(255, 255, 255));
    border-image: url('VSCode/Pokemon Thing/border-1.png.png') 30 round;
}
}
.pk-card{
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 2em;
    filter: drop-shadow(1em, black);
    border-image: url('VSCode/Pokemon Thing/border-1.png.png') 30 round;
}
h4{
    color: red;
}
#pic{
    width: auto;
    height: auto;
}

#moves{
    background-color: red;
}

#move_grid{
    background-color: red;
}